body {
  font: 14px 'Roboto Condensed', sans-serif;
  background-color: #151515;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
}

.map-container,
.container {
	height: 100%;
	width: 100%;
	margin: 0;
}

/*side navigation bar*/
.side-nav {
  padding-left: 16px;
}


/*
Credit: http://blog.themearmada.com/off-canvas-slide-menu-for-bootstrap/
The bootstrap theme used for providing side menu in the page
*/
.nav-expander {
  background: none repeat scroll 0 0 #000000;
  color: #FFFFFF;
  display: block;
  font-size: 1em;
  margin-right: 0;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 60px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

.nav-expander span,
.nav-expander span:before,
.nav-expander span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.nav-expander span:before {
  top: -10px;
}
.nav-expander span:after {
  bottom: -10px;
}

.nav-expander:hover {
  cursor: pointer;
}

.nav-expander.fixed {
  position: fixed;
  display: none;
}

.nav-expanded a.nav-expander.fixed {
  right: 15em;
}

nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -15em;
  font-size: 15px;
  top: 0;
  width: 15em;
  z-index: 2000;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

.nav-expanded nav {
  right: 0;
}

.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

.main-menu {
  background-color: black;
}

.mobile-list {
  padding-left: 1em;
}


/* Media Queries */

@media screen and (max-width: 992px) {
  .desktop-restaurant-list {
    display: none;
  }


  .nav-expander.fixed {
    display: block;
  }

  .main-container {
    position: absolute;
    height: 80vh;
  }
}

